.combat-cards-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.hp {
    font-size: 40px;
}

.name {
    font-size: 40px;
}

.player1 {
    margin: 0px 300px;
}

.player2 {
    margin: 0px 300px;
}

.pokemon-char img {
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
}

.pokemon-char {
    border: 1px solid black;
}

.combat-btn button {
    width: 100px;
    height: 50px;
}
/* Combat animations */

.idle {
    transform: translateX(0px);
    transform: translateY(0px);
    transition: 0.5s;
}

.p1Attack {
    transition: 0.1s;
    transform: translateX(100px);
}

.p2Attack {
    transition: 0.1s;
    transform: translateX(-100px);
}


.hit{
    animation: blink-animation .5s  ;
    -webkit-animation: blink-animation .5s  ;
}
@keyframes blink-animation {
    to {
        /* visibility: hidden; */
        opacity: 50%;
    }
}
@-webkit-keyframes blink-animation{
    to {
        /* visibility: hidden; */
        opacity: 50%;
    }
}

.heal{
    scale: 1.5;
    transition: .5s;
}
