/* background: url(./img/combat-bkg.png) no-repeat center / cover; */

.endCombat-container {
    background: url(../../../assets/img/endCombat/combat-bkg.png) no-repeat center / cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.victory-container {
    display: flex;
    flex-direction: row;
}

.victory-pokemons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.winner-poke-img {
    /* scale: 7; */
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
}

.loser-poke-img {
    /* scale: 3; */
    width: 400px;
    height: 400px;
    image-rendering: pixelated;
}

.loser-poke {
    position: relative;
}

.dizzy {
    position: absolute;
    width: 100px;
}

.return-btn,
.winner-poke,
.loser-poke,
.capture-btn {
    margin: 0px 80px;
}

.option:hover {
    scale: 1.2;
}

.option img {
    cursor: pointer;
    transition: .5s;
}

.info-container {
    font-size: 50px;
    display: flex;
    text-transform: capitalize;
    flex-direction: column;
    align-items: center;
    color: #553408;
    background: url(../../../assets/img/endCombat/textWindowPng.png) no-repeat center / cover;
    height: 300px;
}

.text-container {
    margin-top: 40px;
}