.non-explored {
    background: url('./img/area_bkg.png') no-repeat center / cover;
    height: 855px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-explored-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    color: #fff;
    font-size: 50px;
}

/*  Button  */

.button2 {
    margin: 20px;
    float: left;
    position: relative;
    font-family: arial;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0px;
    color: #fff;
    cursor: pointer;
    width: 200px;
    height: auto;
}

.button2 .label {
    padding: 10px;
    display: inline-block;
    font-size: 20px;
}

.button2.v2:hover .icon {
    transform: scale(1.1) skew(-40deg, 0deg);
}

.button2.v2:hover .icon:before,
.button2.v2:hover .icon:after {
    width: 100%;
}

.button2.v2:hover .icon span:before,
.button2.v2:hover .icon span:after {
    height: 100%;
}

.button2.v2 .label {
    padding: 10px 22px;
}

.button2.v2 .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skew(-40deg, 0deg);
    transition: all 0.5s;
}

.button2.v2 .icon:before,
.button2.v2 .icon:after {
    content: "";
    height: 1px;
    width: 30px;
    position: absolute;
    display: block;
    background: #f0202f;
    transition: width 0.5s;
}

.button2.v2 .icon:before {
    left: 0;
    top: 0;
}

.button2.v2 .icon:after {
    right: 0;
    bottom: 0;
}

.button2.v2 .icon span:before,
.button2.v2 .icon span:after {
    content: "";
    background: #f0202f;
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    transition: height 0.5s;
}

.button2.v2 .icon span:before {
    left: 0;
    top: 0;
}
.button2.v2 .icon span:after {
    right: 0;
    bottom: 0;
}

.explored {
    background: url('./img/scout-bkg.jpg') no-repeat center / cover;
    
}

.explored-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.some-text {
    font-size: 20px;
    color: #fff;
    background: #161616;
    padding: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
}

.explored-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.explored-poke-container {
    display: grid;
    grid-template-columns: repeat(4,2fr);
    grid-row: 1fr;
}

.tastyPoke-img {
    width: 300px;
    image-rendering: pixelated;

}

.tastyPoke-name {
    font-size: 20px;
}

.poke-container {
    text-align: center;
    text-transform: capitalize;
    color: #fff;
    margin: 40px;
    background: rgba(0, 0, 0, .65);
    border-radius: 20px;
    padding: 10px;
}


